<!DOCTYPE html>
<html>
<head>
  <title>Fastnote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">FastNote</a>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Add', new_section_path, 'data-no-turbolink' => true %></li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
